<!DOCTYPE html>
<html>
<head>
  <title>掌门三国 后台管理</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="main">
  <!--登录form-->
  <form accept-charset="UTF-8" action="/admin/login/login" id="login_form" method="post">
	 <div id="header">
		<h2>
					掌门三国
		</h2>
		<h1>
					|&nbsp;&nbsp;后台管理
		</h1>
	 </div>
    <table>
      <tr>
        <td colspan="2" style="color: red;">
          <!--错误提示信息。如果登录出错，将显示出错信息 -->
          <% if flash[:error] %>
              <%= flash[:error] %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="title">
          <label for="username">用户名:</label>
        </td>
        <td>
          <input class="inputtext" id="username" name="username" type="text"/>
        </td>
      </tr>
      <tr>
        <td class="title">
          <label for="password">密&nbsp;&nbsp;码:</label>
        </td>
        <td>
          <input class="inputtext" id="password" name="password" type="password"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input name="commit" type="submit" value="登 录" class="loginbtn"/>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>

