<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/goods/#{@goods.id}", :method => 'put', :multipart => true) do %>
      <table class="tabinfo">
        <tr>
          <th>类型</th>
          <th>数量</th>
        </tr>
        <tr>
          <td><%= @names_config[@goods.g_type] %></td>
          <td>
            <%= text_field :goods, :number, :style => 'font-size:10pt;' %>
            <% if @goods.errors['number'] && @goods.errors['number'].length > 0 %>
                <span style="color: red;">数量输入不合法，应为数字。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="更新物品" class="btnsubmit"/>
  <% end %>
</div>