<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/goods/#{@goods.id}", :method => 'post', :multipart => true) do %>
      <table class="tabinfo">
        <tr>
          <th>类型</th>
          <td>
            <label for="g_type"> </label>
            <select id="g_type" name="goods[g_type]">
              <% @goods_list.each() do |g| %>
                <option value=<%= "\"#{@names_config[g]}\"".html_safe %>><%= @names_config[g] %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <th>数量</th>
          <td>
            <%= text_field :goods, :number, :style => 'font-size:10pt;' %>
            <% if @goods.errors['number'] && @goods.errors['number'].length > 0 %>
                <span style="color: red;">数量输入不合法。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="新建物品" class="btnsubmit"/>
  <% end %>
</div>