<div id="middle" xmlns="http://www.w3.org/1999/html">
  <table class="tabinfo">
    <tr>
      <th>类型</th>
      <td><%= @names_config[@goods.g_type] %></td>
    </tr>
    <tr>
      <th>数量</th>
      <td><%= @goods.number %></td>
    </tr>
    <tr>
      <th>价格</th>
      <td><%= @goods_config[@goods.g_type]["price"] %></td>
    </tr>
  </table>
  <a class="btnsubmit" href=<%= "'/admin/goods/edit/#{@goods.id}'".html_safe %> >编辑</a>
</div>