<%= form_tag("/admin/tianjian/#{@tianjian.id}", :method => 'put', :multipart => true) do %>
    <table class="tabinfo">
      <tr>
        <th>ID</th>
        <th>类型</th>
        <th>数量</th>
      </tr>
      <tr>
        <td><%= @tianjian.id %></td>
        <td><%= @tianjian.g_type %></td>
        <td>
          <%= text_field :tianjian, :number, :style => 'font-size:10pt;' %>
          <% if @tianjian.errors['number'] && @tianjian.errors['number'].length > 0 %>
              <span style="color: red;">数量输入不合法。</span>
          <% end %>
        </td>
      </tr>
    </table>
    <input type="submit" value="更新天健物品" class="btnsubmit"/>
<% end %>