<table class="tabinfo">
  <tr>
    <th>ID</th>
    <td><%= @tianjian.id %></td>
  </tr>
  <tr>
    <th>类型</th>
    <td><%= @tianjian.g_type %></td>
  </tr>
  <tr>
    <th>数量</th>
    <td><%= @tianjian.number %></td>
  </tr>
</table>