<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/canzhang/#{@canzhang.id}", :method => 'put', :multipart => true) do %>
      <table class="tabinfo">
        <tr>
          <th>类型</th>
          <th>数量</th>
        </tr>

        <tr>
          <td><%= @names_config[@gf_config[@cz_config[@canzhang.cz_type]["gongfu_id"]]["name"]] %></td>
          <td>
            <%= text_field :canzhang, :number, :style => 'font-size:10pt;' %>
            <% if @canzhang.errors['number'] && @canzhang.errors['number'].length > 0 %>
                <span style="color: red;">数量输入不合法。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="更新残章" class="btnsubmit"/>
  <% end %>
</div>